/* ========================== Component Name ========================== */
$component: ".cta-37";

/* ========================== Order: ========================== */

/*
 * Base
 * Modifiers
 * Breakpoints
 * Component Options
 * Themes
 */

/* ========================== Component Base: ========================== */

#{$component} {
  @apply relative w-full my-8 mx-auto;

  &__wrap {
    @apply relative w-11/12 mx-auto py-12 px-12 max-w-screen-md text-wire-dark bg-white border border-wire-light text-center;
    margin-top: -100px;
    border-radius: 1rem;
  }

  &__map {
    @apply w-full h-auto;
    min-height: 352px;
    object-fit: cover;
  }

  &__title {
    font-weight: 400;
  }

  &__text {
    @apply text-wire-gray mx-auto;
    margin-top: 1rem;
    max-width: 78%;
  }

  &__form {
    @apply flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 2rem;
  }

  &__form-submit {
    @apply text-white bg-wire-primary py-3 px-12;
    border-radius: 0.25rem;
  }

  input {
    @apply py-2 px-2 border border-wire-light;
    width: 49%;
    margin-bottom: 1rem;
    border-radius: 0.25rem;

    &[type='submit'] {
      @apply mx-auto;
      max-width: 170px;
      margin-bottom: 0;
    }
  }

  textarea {
    @apply w-full py-2 px-2 border border-wire-light;
    border-radius: 0.25rem;
    margin-bottom: 1rem;
    resize: none;
  }

  /* ========================== Modifiers ========================== */

  /* ========================== Breakpoints ========================== */

  @screen sm {

  }

  @screen md  {

  }

  @screen lg  {

  }

  @screen xl  {

  }

  @screen xxl  {

  }

  /* ========================== Component: Options ========================== */

  /* ========================== Themes ========================== */
}

/* ========================== INSTANCE OVERRIDES ========================== */

#{$component}.someClass {
  // some style here
  #{$component}__wrap {
    // some style there
  }
}
